In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [20]:
list_tweets = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('University of Ghana legon since:2019-01-01 until:2021-12-31').get_items()):
    if i>1000:
        break
    list_tweets.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above
tweets_df_ug= pd.DataFrame(list_tweets, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [29]:
UG_tweet = tweets_df_ug['Text'].to_frame()

In [22]:
list_tweets = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Kwame Nkrumah University of Science and Technology KNUST since:2019-01-01 until:2021-12-31').get_items()):
    if i>1000:
        break
    list_tweets.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above
tweets_df_tech= pd.DataFrame(list_tweets, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [30]:
tech_tweet = tweets_df_tech['Text'].to_frame()

In [32]:
UG_tweet['Instituition'] = 'University of Ghana'

In [33]:
tech_tweet['Instituition'] = 'KNUST'

In [36]:
data = pd.concat([UG_tweet,tech_tweet])

In [43]:
data[data['Instituition'] == 'KNUST']

                                                   Text Instituition
0     The management of the Kwame Nkrumah University...        KNUST
1     The Management of Kwame Nkrumah University of ...        KNUST
2     Dear Fresher, \n\nCongratulations on your admi...        KNUST
3     PENSA KNUST congratulates you on your admissio...        KNUST
4     Congratulations to our dear freshers. You’ve m...        KNUST
...                                                 ...          ...
996   Meet Jessica an alumnus of @legacygirlscollege...        KNUST
997   The College of Science, Kwame Nkrumah Universi...        KNUST
998   Centre for Cultural and African Studies (CeCAS...        KNUST
999   The three-member committee probing the violent...        KNUST
1000  A Political Science lecturer at the Kwame Nkru...        KNUST

[1001 rows x 2 columns]